.container1{
    border: 0.5px #eb4646;
    display: grid;
    /* grid-template-columns: 2fr 1fr 4fr;  */
    grid-template-columns: 1fr 1fr 1r ;
    flex:2
    
}
    

.item{
    border: 1px solid blue;
    font-size: 30px;
    flex:3;
    margin:10px;
}